# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class
*.pyo

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Django
db.sqlite3
*.log


# =========================
# Node / React
# =========================

node_modules/
dist/
build/
.vite/


# =========================
# IDE
# =========================

.vscode/
.idea/


# =========================
# OS
# =========================

.DS_Store
Thumbs.db


# =========================
# Testing / Coverage
# =========================

.coverage
htmlcov/
.pytest_cache/